<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>dashboard</h1>

<div style="border: dashed;width:auto;display:inline-block !important;">
    <form method="post" action="/upload" enctype="multipart/form-data">
        <span>索引文件: </span><input type="file" name="index" required><br/><br/>
        <span>要提交的文件: </span><input type="file" name="file" required>
        <br/><br/>
        <input type="submit" value="提交">

    </form>

</div>




<br/><br/>

<a href="/user/logout">退出登录</a>

<br/><br/>


<div id="filelist">
    <table border="1">
        <tr>
            <th>文件名</th>
            <th>md5</th>
            <th>上传日期</th>
            <th>操作</th>
        </tr>

        <!--/*@thymesVar id="files" type="templates"*/-->
        <tr th:each="f:${files}">
            <td style="font-weight: 300" th:text="${f.name}">文件名</td>
            <td style="font-weight: 300" th:text="${f.md5}">md5</td>
            <td style="font-weight: 300" th:text="${#dates.format(f.uploadTime,'yyyy-MM-dd HH:mm')}">2020-02-02 15:08
            </td>
            <td style="font-weight: 300"><a th:href="@{/delete(fid=${f.id})}"> delete </a></td>
        </tr>
    </table>
</div>

<br/><br/>
<form action="/search">
    <input type="text" name="trapdoor" placeholder="键入索引" style="width: 500px">
    <input type="submit" value="搜索">
</form>


<br/><br/>

<div id="search">
    <table border="1">
        <tr>
            <th>文件名</th>
            <th>md5</th>
            <th>上传日期</th>
            <th>操作</th>
        </tr>

        <!--/*@thymesVar id="searchfiles" type="templates"*/-->
        <tr th:each="f:${searchfiles}">
            <td style="font-weight: 300" th:text="${f.name}">文件名</td>
            <td style="font-weight: 300" th:text="${f.md5}">md5</td>
            <td style="font-weight: 300" th:text="${#dates.format(f.uploadTime,'yyyy-MM-dd HH:mm')}">2020-02-02 15:08
            </td>
            <td style="font-weight: 300"><a th:href="@{/delete(fid=${f.id})}"> delete </a></td>
        </tr>
    </table>
</div>

</body>
</html>